nav{
    
    margin: 0;
    padding: 0;
}
nav ul {
    list-style: none;
    display: block;
}
nav li.button {
    
    background: #333;
    color: #fff;
    display: inline;
    
}
p{
    max-width: 75%;
}